<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
      <!-- Table keys -->
    <!-- Am pus tabelele: Land, Location, Mannschaft, Operator, Adresse, Contractor-->
    <!-- Adresse trebuie pentru Operator care are FK -->
    <!-- Contractor trebuie pentru Mannschaft care are FK -->
    <!-- Nu am avut alte 1:M fara tabelul Land, ca sa fie 4 diferite e mai complicat D: -->
    
    
    <add key="parentTable" value="Land" />
    <add key="childTable" value="Location" />

    <!-- La perechea asta Operator are 2 FK. La al doilea Fk trebuia valori preexistente -->
    <!--add key="parentTable" value="Mannschaft" /-->
    <!--add key="childTable" value="Operator" /-->

    <!-- Aici nu prea aveam ce modifica in Mannschaft; ca avea numa ID si ID_Contractor, deci se completa singur :)) -->
    <!--add key="parentTable" value="Contractor" /-->
    <!--add key="childTable" value="Mannschaft"/-->

    <!-- Optiunea asta nu merge pentru ca tabelul Firma nu l-am trimis -->

    <!-- asta mergea perfect, dar nu sunt 4 tabele diferite :( sunt doar 3 -->
    <!--add key="parentTable" value ="Land"/-->
    <!--add key="childTable" value="Firma"/-->
    </appSettings>
</configuration>